# conditional statement if,elif,else class

In [2]:
a=10
if a==10:
    print("this is my first class")

this is my first class

In [3]:
a=10
if a==11:
    print("this is my first class")

In [4]:
a=10
if a>5:
    pass

In [5]:
a=10
if a<8:
    print("print this if condition is True")

In [6]:
a=10
if a!=11:
    print("my condition is false")
else:
    print("print this")

my condition is false

In [7]:
a=10
if a!=10:
    print("my condition is false")
else:
    print("print this")

print this

In [8]:
a=10
if a==12:
    print('here we are trying to compare 10 with 12')
elif a==11:
    print("we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this ")

if all the blocks will fail then do this

In [9]:
a=10
if a==12:
    print('here we are trying to compare 10 with 12')
elif a==10:
    print("we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this ")

we are trying to compare 10 with 11

In [10]:
price=500

if price > 500:
    print("may b i want be able to buy a jacket")
elif price < 500:
    print("i will be able to buy a jacket")
elif price ==500:
    print("foe sure i will be able to buy")
else:
    print("i dont know")

foe sure i will be able to buy

In [11]:
price>500

False

In [12]:
price<500

False

In [14]:
price==500

True

In [16]:
l=[1,2,3,4,5,6]
2 in l

True

In [17]:
if 2 in l:
    print("try to perform a task")
else:
    print('do not perform this task')

try to perform a task

In [18]:
if 60 in l:
    print("try to perform a task")
else:
    print('do not perform this task')

do not perform this task

In [19]:
60 in l

False

In [20]:
l

[1, 2, 3, 4, 5, 6]

In [22]:
if 1 in l:
    print("try to do a adition")
elif 2 in l:
    print('try to do sub')
elif 3in l:
    print('try to do mul')

try to do a adition

In [23]:
if 10 in l:
    print("try to do a adition")
elif 2 in l:
    print('try to do sub')
elif 3in l:
    print('try to do mul')

try to do sub

In [24]:
if 10 in l:
    print("try to do a adition")
elif 2 in l:
    print('try to do sub')
elif 3in l:
    print('try to do mul')
if 4 in l:
    print("this is new statement")

try to do sub
this is new statement

In [25]:
a=400

In [26]:
b=input()

400

In [27]:
type(b),b

(str, '400')

In [28]:
b=int(input())

400

In [29]:
type(b),b

(int, 400)

In [ ]:
price=int(input())
if price <500:
    print("i will be able to buy something")
    if price < 400:
        print('i will be able to buy a jacket')
    elif  price < 300:
        print("i will bw able to buy a shirt")
    else:
        print("i wont able to buy anything")
        
else:
    print('i wont be able to buy anything with this price tag')

In [ ]:
price=int(input())
if price <500:
    print("i will be able to buy something")
    if price < 400:
        print('i will be able to buy a jacket')
    elif  price < 300:
        print("i will bw able to buy a shirt")
        if price< 200:
            print("i would ike to do something")
    else:
        print("i wont able to buy anything")
        
else:
    print('i wont be able to buy anything with this price tag')
    if price >500:
        print("lets try someting else")

In [4]:
marks=int(input())
if marks<600:
    print("no gre")
    if marks <500:
        print("TOFEL")
        if marks <400:
            print("try something else")
    else:
        print("YOU GOT TOFEL")
else:
    print('you got gre congratulation')

300
no gre
TOFEL
try something else

In [7]:
val=float(input(" enter a floting point number"))
if val >=0:
    if val==0:
        print("entered value is zero")
    else:
        print("enter value is positive number")
else:
    print("entered number is a negative number")

 enter a floting point number-5
entered number is a negative number

In [10]:
a=10
if a<10 and a==10:
    print("try to do something")

In [11]:
a="sudh"
if a=="sudh" or a=="Sudh":
    print("this is sudh")

this is sudh

In [21]:
a=10
b=11
c=12
d=13
if a==9 or b==11 or c==12 or d==13:
    print('lets do something')

lets do something

In [23]:
d={"key1":"values",'key2':"sudh","key3":"ineuron"}

In [24]:
if d['key1']=='values' and d['key2']=='sudh' and d['key3']=='ineuron':
    print("all the values are verified")
    print(d.values())

all the values are verified
dict_values(['values', 'sudh', 'ineuron'])

In [27]:
if d['key1']=='chetan' and d['key2']=='sudh' and d['key3']=='ineuron':
    print("all the values are verified")
    print(d.values())
else:
    print("all the values are not verified")

all the values are not verified

In [1]:
l=[1,2,3,4,5,"sudh",234.45]

In [2]:
for i in l:
    print(i)

1
2
3
4
5
sudh
234.45

In [3]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
6
sudh1
235.45

In [4]:
a=1.2

In [5]:
a+1

2.2